<!-- visualization.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualization</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Pairplot of Iris Dataset</h1>
        <img src="{{ visualization_path }}" alt="Visualization" class="visualization-img">
        <a href="/" class="back-link">Back to Home</a>
    </div>
</body>
</html>
